.purchase-btn{
    width: 316px;
  height: 40px;
  flex-grow: 0;
  margin: 13px 0 94px 117.2px;
  padding: 8px 100px;
  border-radius: 10px;
  background-color: #fdb813;
  border: none;
  outline: none;
}

.pie{
    width: 600px;
    height: 500px;
}

.table{
    display: grid;
    grid-template-columns: 1fr;
    
}

.table-div{
    display: grid;
    grid-template-columns: 1fr;
    
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.img{
    margin-top: 108px;
}
.bttn{
    padding-top: 5px;
}